.OptionsContainer {
  border-bottom: 1px solid rgba(192, 192, 192, 0.548);
  box-sizing: border-box;
  padding-top: 2vh;
}

.OptionsContainer-Item {
  padding: 5px;
  cursor: pointer;
  list-style: none;
  font-size: 1.2em;
  margin-bottom: 5px;
  font-weight: 600;
}

.OptionsContainer-Title {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.isActive {
  background-color: rgba(0, 17, 255, 0.329);
}

@media(min-width:700px){
  .OptionsContainer-Item:hover {
    background-color: #94adff6b;
    background: linear-gradient(
      to bottom,
      #3366ffb6 0%,
      #6b90ff 47%,
      #ccd8ff 100%
    );
    color: #fff;
  }
}
