.ImageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30vw;
}

.FrontImage {
  width: 20vw;
  /* height: 30vh; */
  display: flex;
  flex-basis: 80%;
  margin: 20px auto;
}

.EachImageContainer {
  display: flex;
  flex-direction: column;
  width: 9vw;
  /* height: 8vh; */
  margin: 12px 1%;
  position: relative;
}

.AllImages {
  width: 10vw;
}

.AllImages:hover {
  opacity: 0.2;
  cursor: pointer;
}

.EachImageContainer:hover.EachImageContainer::after {
  content: "Select";
  pointer-events: fill;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  color: rgb(58, 58, 58);
  position: absolute;
  left: 55%;
  top: 30%;
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: none;
}
.EachImageContainer:hover .AllImages {
  opacity: 0.2;
}

.RemoveItem {
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  right: 0;
  top: -30%;
  color: rgba(255, 0, 0, 0.836);
  opacity: 1;
}

.NoImg {
  height: 30vh;
  width: 20vw;
  box-shadow: inset 0px 0px 20px 0px rgba(97, 97, 97, 1);
  display: flex;
  margin: 20px auto;
  border: 1px solid #999;
}

.NoImg p {
  margin: auto;
  font-weight: 600;
  font-size: 1.3em;
}
