.FullProductDetails {
  width: 90%;
  margin: 20px auto;
}

.FullProductDetails h2 {
  margin: 50px auto;
}

.FullProductDetails table {
  width: 100%;
  font-size: 1.1em;
}

.FullProductDetails table tr {
  height: 50px;
}

.FullProductDetails table tr:nth-of-type(odd) {
  background-color: rgba(115, 211, 255, 0.363);
}

.FullProductDetails table th {
  font-size: 1.2em;
  font-weight: 600;
  width: 50%;
}

@media (max-width:700px){
  .FullProductDetails table{
    font-size: .9em;
  }
  .FullProductDetails h2{
    font-size: 1.2em;
  }
}