.Button {
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  background-color: rgb(206, 206, 206);
  border: none;
  font-weight: 600;
  font-size: 1em;
  color: aliceblue;
  width: 100%;
}

.Button.Confirm{
  background-color: rgba(25, 187, 66, 0.933);
}

.Button.Success {
  background-color: rgb(67, 148, 42);
}

.Button.Change{
  background-color: rgba(255, 0, 0, 0.589);
  font-weight: 600;
  font-size: 1em;
}
.Button.Danger {
  background-color: rgb(255, 0, 0);
  
}

.Button.Order {
  background-color: rgb(255, 230, 86);
  color: rgb(0, 0, 0);

}
.Button.Button.Order:hover {
  background-color: rgb(231, 197, 0);
}
.Button:hover{
 transform: scale(1.1);
 transition: 0.2s ease
}
.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Remove{
  background-color: rgb(255, 0, 0);
}

