.SideDrawer{
    width: 40%;
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    background-color: #fff;
    margin: 50px 0;
    text-align: center;
    overflow: scroll;
    z-index: 10;
}
@media(max-width:500px){
    .SideDrawer{
        width: 70%;
    }
}