.Nav-Element {
  width: 9vw;
  padding: 14px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border-radius: 3px;
  box-sizing: border-box;
}

.Nav-Element:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.Nav-Element.active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(37, 37, 37);
  font-weight: bold;
}
