.ShortProductView-Container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
}

@media(max-width:905px){
  .ShortProductView-Container{
    width: 97%;
  }
}
