.Input,
.Textarea {
  margin: 10px;
  padding: 8px;
  font-size: 1.1em;
  width: 90%;
  margin: 10px auto;
  font-weight: 600;
  display: block;
  box-sizing: border-box;
}

.Input {
  text-align: center;
}

.Input:focus,
.Textarea:focus, .Select:focus {
  border: 1px solid #555;
  outline-width:0;
}
.Label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1em;
}

.Textarea {
  resize: none;
  height: 15vh;
}

.Text {
  font-size: 1.2em;
  color: #555;
}

.Select{
  padding: 3px;
}