.Short-Product-View {
  display: flex;
  flex-direction: column;
  width: 20vw;
  box-sizing: border-box;
  padding: 1vh 0;
}

.NotFound{
  font-size: 24px;
  margin-top: 40px;
}

.OrderBtn{
  width: 140px;
  box-sizing: border-box;
  margin: 10px auto;
}

.Short-Product-View .ShortProductView-Image {
  margin: auto;
  width: 15vw;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}

.Short-Product-View .ShortProductView-Image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.Short-Product-View h2 {
  font-size: 1.6em;
  width: 15vw;
  margin: 3vh auto;
}

.Short-Product-View h2:hover {
  cursor: pointer;
}

.Short-Product-View p {
  color: rgb(116, 116, 116);
  margin-bottom: 1vh;
  font-weight: 400;
  font-size: 1em;
}
.Short-Product-View p b {
  font-weight: 700;
  color: rgb(97, 96, 96);
  font-size: 1.1em;
}

.Short-Product-View .Info-Container, .PurchaseInfo {
  width: 80%;
  margin: auto;
  margin-top: 3vh;
}
.Short-Product-View .Price, .ShortPurchasesView .Price {
  margin: 2vh;
  color: rgb(255, 53, 53);
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Purchase */

.ShortPurchasesView{
  display: flex;
  width: 700px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1vh 0;
  position: relative;
  height: 180px;
  font-size: 15px;
  margin-bottom: 20px;
}

.ShortPurchasesView h2{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ShortPurchaseImage{
  margin: auto;
  width: 12vw;
  transform: scale(1);
  transition: 0.4s ease-in-out;
  margin-top: 40px;
}

.ShortPurchasesView h2:hover{
  cursor: pointer;
}

.ShortPurchaseImage:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.PurchaseInfo{
  width: 300px;
  margin-top: 40px;
  background-color: rgba(190, 190, 107, 0.349);
  padding: 5px
}

.RemoveBtn{
  width: 30px;
  position: absolute;
  right: 0;
}

.PriceContainer{
  width: 50%;
  position: absolute;
  bottom: -5px;
  right: 10px;
}

.PriceContainer .Price{
 text-align: end;
}

.PriceContainer select{
  margin-right: 20px;
  width: 40px;
  }