/* Home View */

.Short-Product-View {
  display: flex;
  flex-direction: column;
  width: 17vw;
  box-sizing: border-box;
  padding: 1vh 0;
  font-size: .9em;
}

.NotFound{
  font-size: 24px;
  margin-top: 40px;
}

.OrderBtn{
  width: 140px;
  box-sizing: border-box;
  margin: 10px auto;
}

.Short-Product-View .ShortProductView-Image {
  margin: auto;
  max-width: 14vw;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}

.Short-Product-View .ShortProductView-Image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.Short-Product-View .Title {
  width: 15vw;
  margin: 3vh auto;
}

.Short-Product-View .Title:hover {
  cursor: pointer;
}

.Short-Product-View p {
  color: rgb(116, 116, 116);
  margin-bottom: 1vh;
  font-weight: 400;
  font-size: 1em;
}
.Short-Product-View p b {
  font-weight: 700;
  color: rgb(97, 96, 96);
  font-size: 1.1em;
}

.Short-Product-View .Info-Container, .PurchaseInfo {
  width: 80%;
  margin: auto;
  margin-top: 3vh;
}
.Short-Product-View .Price, .ShortPurchasesView .Price {
  margin: 2vh;
  color: rgb(255, 53, 53);
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 3px;
}

/* Purchase */
.ShortPurchasesView{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px ;
  font-size:1.2em;
  position: relative;
  height: 28vh;
}
.ShortPurchasesView + .ShortPurchasesView{
  border-top: 1px solid #333;
}

.ShortPurchasesView .Title{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.ShortPurchaseImage{
  margin: auto;
  width: 16vw;
  transform: scale(1);
  transition: 0.4s ease-in-out;
  overflow: hidden;
}

.ShortPurchasesView h2:hover{
  cursor: pointer;
}

.ShortPurchaseImage:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.PurchaseInfo{
  align-self: center;
  padding: 8px;
  border-radius: 3px;
  margin: 0;
  margin-left: 30px;
  width: 35vw;
  background-color: rgba(190, 190, 107, 0.349);
}

.RemoveBtn{
  width: 30px;
  margin-top: 5px;
}

.PriceContainer{
  align-self: flex-end;
  text-align: center;
  width: 50%;
}

.PriceContainer .Price{
  letter-spacing: normal;
  margin: 0 0 15px;
}

.PriceContainer select{
  margin-right: 20px;
  width: 40px;
}

/* Order Summary */

.ProductSummary-Container{
  width: 100%;
  display: flex;
  padding: 10px 0;
  height: 20vh;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  overflow: hidden;
}

.ProductSummary-Container + .ProductSummary-Container{
  margin-top: 15px;
  border-top: 1px solid rgb(175, 167, 48);
}

.ProductSummary-Container .Title {
  position: absolute;
  font-size: 1.1em;
  left: 52%;
  top:0;
  transform: translateX(-50%);
}

.ProductSummary-Container .ProductSummary-Image{
  width: 11vw;
  margin: auto 0;
}

.ProductSummary-Container .ProductSummary-Info{
  width: 20vw;
  align-self: center;
}

.ProductSummary-Container .ProductSummary-Price{
  align-self: center;
}
