.NotFound{
  margin: 50px auto;
  font-size: 20px;
}

/* Home View */
.Short-Product-View {
  margin: 2px;
  font-size: .9em;
  background-color: #fff;
  width: 230px;
  max-height: 485px;
  min-width: 145px;
}

.Specification-Title{
  font-weight: 600;
}

.Short-Product-View .NotFound{
  font-size: 24px;
  margin-top: 40px;
}

.Short-Product-View .OrderBtn{
  width: 150px;
  box-sizing: border-box;
  justify-self: end;
}

.Short-Product-View .Title {
  margin: 10px auto 20px;
  height: 60px;
  box-sizing: border-box;
}

.Short-Product-View .Title:hover {
  cursor: pointer;
}

.Short-Product-View p {
  color: rgb(116, 116, 116);
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1em;
}

.Short-Product-View p b {
  font-weight: 700;
  color: rgb(97, 96, 96);
  font-size: 1.1em;
  display: block;
}

.Short-Product-View .Info-Container, .Short-Product-View.PurchaseInfo {
  width: 90%;
  margin: auto;
  height: 160px;
}

.PurchaseInfo{
 margin-top: 30px;
}

.Info-Container p  {
  font-weight: 700;
}

.Short-Product-View .Price, .ShortPurchasesView .Price {
  margin: 10px;
  color: rgb(255, 53, 53);
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: 3px;
  height: 35px;
  box-sizing: border-box;
}

@media(max-width:1060px) and (min-width:400px) {
  .Short-Product-View {
    font-size: .7em;
    width: 24%;
  }

  .Short-Product-View .OrderBtn{
    width: 80%;
  }

  .Short-Product-View .Price{
    margin: 5px;
  }
}

@media(max-width:720px){
  .Short-Product-View{
    width: 170px;
  }

  .Short-Product-View .Info-Container{
    height: 140px;
  }

  .Short-Product-View .Title{
    margin-bottom: 5px;
  }

  .Short-Product-View .Price{
    height: 35px;
  }
}

@media (max-width: 615px){
  .Short-Product-View {
    width: 32%;
  }
}

@media ( max-width: 460px){
  .Short-Product-View {
    width: 48.7%;
  }
}

@media (max-width:400px){
  .Short-Product-View{
    font-size: .66em;
  }

  .Short-Product-View .OrderBtn{
    width: 80%;
  }

  .Short-Product-View .Title{
    margin: 3px;
    font-size: .67em;
    height: 35px;
  } 
}

/* Purchase */
.ShortPurchasesView{
  display: flex;
  box-sizing: border-box;
  padding-bottom: 10px ;
  font-size: 1.1em;
  position: relative;
  height: 200px;
}

.ShortPurchasesView + .ShortPurchasesView{
  border-top: 1px solid #333;
}

.ShortPurchasesView .Title{
  position: absolute;
  width: 80%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.ShortPurchasesView h2:hover{
  cursor: pointer;
}

.ShortPurchasesView .PurchaseInfo{
  align-self: center;
  padding: 8px;
  border-radius: 3px;
  margin: 0 3px 0 15px;
  width: 70%;
  background-color: rgba(190, 190, 107, 0.349);
}

.ShortPurchasesView .RemoveBtn{
  width: 30px;
  margin-top: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ShortPurchasesView .PriceContainer{
  align-self: flex-end;
  text-align: center;
  width: 50%;
}

.ShortPurchasesView .PriceContainer .Price{
  letter-spacing: normal;
  margin: 0 0 15px;
}

.ShortPurchasesView .PriceContainer select{
  margin-right: 7px;
  width: 40px;
}

@media ( max-width: 830px){
  .ShortPurchasesView{
    font-size: 13px;
  }
  .ShortPurchasesView .PurchaseInfo{
    padding: 2px 5px;
  }
}

@media(max-width:430px){

  .ShortPurchasesView{
    font-size: 12px;
  }

  .ShortPurchasesView .PriceContainer .Price{
    font-size: 1em;
    height: 50px;
  }

  .ShortPurchasesView .PurchaseInfo{
    align-self: flex-end;
    margin-bottom: 10px;
  }

  .ShortPurchasesView .Title{
    width: 100%;
  }

  .ShortPurchasesView .RemoveBtn{
    top: 30px;
  }
}

/* Order Summary */
.ProductSummary-Container{
  display: flex;
  height: 150px;
  position: relative;
  padding: 30px 8px 0;
}

.ProductSummary-Container + .ProductSummary-Container{
  margin-top: 5px;
  border-top: 1px solid rgb(175, 167, 48);
}

.ProductSummary-Container .Title {
  position: absolute;
  font-size: .9em;
  left: 50%;
  top: 5px;
  width: 100%;
  transform: translateX(-50%);
  }

.ProductSummary-Container .ProductSummary-Info{
  width: 300px;
  align-self: center;
  font-size: .9em;
  padding: 5px 10px;
}

.ProductSummary-Container .ProductSummary-Price{
  align-self: center;
  margin: 0 0 0 auto;
}
